@font-face {
    font-family: PT Serif;
    src: url('../fonts/PTSerif-Regular.ttf');
}
@font-face {
    font-family: HK-Grotesk Medium;
    src: url('../fonts/HKGrotesk-Medium.otf');
}
@font-face {
    font-family: HK-Grotesk Light;
    src: url('../fonts/HKGrotesk-Light.otf');
}

header nav {
    fill-opacity: inherit;
    background-color: #e1b5a8;
}

nav {
    /* flex: 0 1 auto;
    display: flex;
    margin-top: 3rem; */
    padding: 20px;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
} 

#content #left-section {
    float: left;
}
#content #right-section {
    float: right;
}

html,
body {
  height: 100%;
  margin: 0;
}

nav span {
    margin-left: 10rem;
    font-family: HK-Grotesk Medium;
    font-size: 18px;
    font-style: italic;
    color: black;
}

nav li {
    list-style-type: none;
}

#nav-links {
    display: flex;
    margin: 0rem 10rem 0rem 15rem;
    flex-grow: 2;
    justify-content: space-between;
}

#nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sauce Light;
}

#nav-links li a:hover {
    font-size: 18px;
}

#left-section {
   margin-top: 7rem;
   margin-left: 5rem;
    /* padding-top: 100px */
}

#left-section h1 {
    font-family: PT Serif;
    font-size: 40px;
    margin: 0;
}

#left-section button {
    border: none;
    background-color: #d25525;
    font-family: HK-Grotesk Medium;
    font-size: 18px;
    color: white;
    padding: 8px 15px;
    margin-top: 2rem;
}

#left-section button:hover {
    cursor: pointer;
    filter: brightness(150%);
}

#right-section {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-top: 100px;
}

.li-item {
    display: flex;
    padding-bottom: 50px;
}

.li-item .description {
    margin-left: 2rem;
    max-width: 30ch;
}

.description h2 {
    font-family: HK-Grotesk Medium;
    font-size: 20px;
}

.description p {
    font-family: HK-Grotesk Light;
    font-size: 13px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

body img {
    width: 250px;
}


